body {
  background-color: #fdfafa;
  font-family: Arial, Helvetica, sans-serif; }

.jumbotron {
  background-color: #3575FF;
  margin-top: 50px;
  margin-bottom: 0px;
  color: aliceblue; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #3575FF;
  margin-top: 10px;
  margin-bottom: 0px;
  color: aliceblue; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
  color: black; }

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  background-color: #3575FF; }

.footer-adress-icon {
  padding: 10px; }

.tab-content {
  padding-top: 10px; }

footer a {
  color: aliceblue; }

.footer-titulos {
  font-weight: bold;
  color: white; }

address {
  text-align: center; }

/*# sourceMappingURL=styles.css.map */
