@amarillo: #e6da59;
@rojo: #FF5632;
@azul: #3575FF;
@color-de-fuente: aliceblue;

.margenes (@arriba: 0px, @abajo: 0px){
    margin-top: @arriba;
    margin-bottom: @abajo;
}

.colores (@custom-color: black){
    color: @custom-color;
}

body {
    background-color: #fdfafa;
    font-family: Arial, Helvetica, sans-serif;
}

.jumbotron {
    background-color: @azul;
    .margenes(50px, 0px);
    .colores(@color-de-fuente);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: @azul;
    .margenes(10px, 0px);
    .colores(aliceblue);
}

.card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    background-color: @azul;
}

.footer-adress-icon {
    padding: 10px;
}

.tab-content {
    padding-top: 10px;
}


footer a {
    color: aliceblue;
}

.footer-titulos {
    font-weight: bold;
    color: white;
}

address {
    text-align: center;
}