$amarillo: #e6da59;
$rojo: #FF5632;
$azul: #3575FF;

@mixin margenes ($arriba, $abajo, $custom-color){
    margin-top: $arriba;
    margin-bottom: $abajo;
    color: $custom-color;
}

body {
    background-color: #fdfafa;
    font-family: Arial, Helvetica, sans-serif;
}

.jumbotron {
    background-color: $azul;
    @include margenes(50px, 0px, aliceblue);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $azul;
    @include margenes(10px, 0px, aliceblue);
}

.card-hotel {
    flex: 1 200px;
    @include margenes(10px, 0px, black)
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    background-color: $azul;
}

.footer-adress-icon {
    padding: 10px;
}

.tab-content {
    padding-top: 10px;
}


footer a {
    color: aliceblue;
}

.footer-titulos {
    font-weight: bold;
    color: white;
}

address {
    text-align: center;
}